html, body {
	height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
	/* Photo Courtesy Of University of California Irvine */
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center center;
}

body>.row {
	height: 100%;
	margin-right: 0;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#announcements, #map, #mentor, #prizes, #faq {
	display: none;
}

/*@keyframes blinking {
    49% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    99% {
        opacity: 0
    }
}*/

.loading {
	width: 4%;
}

/* Sidebar */
@keyframes breathe {
    from { transform: none; }
	50% { transform: scale(1.35); }
	to { transform: none; }
}

#sidebar {
	background-size: cover;
	height: 100%;
	padding-right: 0;
}

.overlay {
	background: rgba(0,0,0,0.75);
	height: 100%;
}

#sidebar-logo {
	margin: auto;
	height: 150px;
	display: block;
	padding: 25px 0;
}

#live-header {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#live-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #e74c3c;
	/*animation: blinking 1.5s infinite;*/
	animation: breathe 2.5s infinite;
	margin-right: 10px;
	display: inline-block;
}

#live-text {
	font-weight: 700;
	font-size: 32px;
	color: white;
	letter-spacing: 2px;
}

#schedule-feed {
	margin: 0 10%;
	color: white;
}

.schedule-event {
	background: rgba(255,255,255,0.3);
	border-radius: 3px;
	padding: 3% 0;
}

.event-time {
	font-weight: 700;
}

.event-name {
	font-weight: 400;
}

.event-details {
	display: none;
	font-weight: 300;
	font-size: 0.9em;
}

/* Top Nav Bar */
#menu-bar {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu>a {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 1.25em;
	padding: 0 2em 0 2em;
	color: #ecf0f1;
}

.menu>a:hover {
	text-decoration: none;
}

.menu>a.active>span {
	border-bottom: 3px solid #59b5f2;
}

/* Main Container */
#main {
	background: rgba(0,0,0,0.45);
	height: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	overflow: scroll;
}

#content {
	padding: 0 5% 0 5%;
}

/* Card Element */
.card {
	width: 100%;
	background-color: rgba(52, 152, 219, 0.85);
	border-radius: 2px;
	color: #34495e;
	margin-bottom: 2.5%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.card-timestamp {
	padding: 1.5% 2% 1.5% 3%;
	color: #ecf0f1;
	font-weight: 700;
	width: 12.33333333% !important;
}

.card-content {
	padding: 1.5% 3% 1.5% 2%;
	color: #ecf0f1;
	width: 86.66666667% !important;
}

/* Mentor */
.mentor-header {
	font-weight: 400;
}

#mentor .form-group .col-md-1 {
	padding-left: 0 !important;
	text-align: left !important;
}

#mentor .form-group .col-md-2 {
	width: 12% !important;
}

#mentor .form-group {
	padding-left: 3%;
}

#mentor .radio-inline {
	padding-top: 0 !important;
}

#mentor .btn {
	margin-left: 0.93%;
}