html, body {
	height: 100%;
}

body {
	font-family: 'Nunito', sans-serif;
}

.row {
	height: 100%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/*@keyframes blinking {
    49% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    99% {
        opacity: 0
    }
}*/

/* Sidebar */
@keyframes breathe {
    from { transform: none; }
	50% { transform: scale(1.35); }
	to { transform: none; }
}

#sidebar {
	background-color: #34495e;
	height: 100%;
	padding-right: 0;
}

#sidebar-logo {
	margin: 25px auto;
	height: 100px;
	display: block;
}

#live-header {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#live-circle {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	/*background-color: #ff0000;*/
	background-color: #e74c3c;
	/*animation: blinking 1.5s infinite;*/
	animation: breathe 2.5s infinite;
	margin-right: 10px;
	display: inline-block;
}

#live-text {
	font-weight: 700;
	font-size: 32px;
	color: white;
	letter-spacing: 2px;
}

#schedule-feed {
	margin: 0 10%;
	color: white;
}

.schedule-event {
	background: rgba(255,255,255,0.25);
	border-radius: 3px;
	padding: 3% 0;
}

.event-time {
	font-weight: 700;
}

.event-name {
	font-weight: 400;
}

.event-details {
	display: none;
	font-weight: 300;
	font-size: 0.9em;
}

/* Top Nav Bar */
#menu-bar {
	height: 100px;
	background-color: #ecf0f1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu>a {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 1.25em;
	padding: 0 2em 0 2em;
}

.menu>a:hover {
	text-decoration: none;
}

.menu>a.active>span {
	border-bottom: 3px solid #b4e7f8;
}

/* Main Container */
#main {
	background-color: #ecf0f1;
	height: 100%;
	padding-left: 0 !important;
}

#content {
	padding: 0 5% 0 5%;
}

/* Card Element */
.card {
	width: 100%;
	background-color: #34495e;
	border-radius: 2px;
	color: #34495e;
	box-shadow: 2px 2px 1px #2c3e50;
	margin-bottom: 2.5%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.card-timestamp {
	padding: 1.5% 2% 1.5% 3%;
	color: #ecf0f1;
	font-weight: 700;
}

.card-content {
	padding: 1.5% 3% 1.5% 2%;
	color: #ecf0f1;
}

/* Mentor */
.mentor-header {
	font-weight: 400;
}

#mentor .form-group .col-sm-1 {
	padding-left: 0 !important;
	text-align: left !important;
}

#mentor .form-group {
	padding-left: 3%;
}

#mentor .radio-inline {
	padding-top: 0 !important;
}

#mentor .btn {
	margin-left: 1.25%;
}