html, body {
	height: 100%;
}

.row {
	height: 100%;
}

#sidebar {
	background-color: #34495e;
	height: 100%;
}

#main {
	background-color: #ecf0f1;
	height: 100%;
	padding-left: 0 !important;
}

#menu-bar {
	height: 100px;
	background-color: #ecf0f1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu>a {
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 1.25em;
	padding: 0 2em 0 2em;
}

.menu>a:hover {
	text-decoration: none;
}

.menu>a.active>span {
	border-bottom: 3px solid #b4e7f8;
}

#content {
	padding: 0 5% 0 5%;
}

.card {
	width: 100%;
	background-color: #34495e;
	border-radius: 2px;
	color: #34495e;
	box-shadow: 2px 2px 1px #2c3e50;
	margin-bottom: 2.5%;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.card-timestamp {
	padding: 1.5% 2% 1.5% 3%;
	color: #ecf0f1;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
}

.card-content {
	padding: 1.5% 3% 1.5% 2%;
	color: #ecf0f1;
	font-family: 'Nunito', sans-serif;
}