#admin-status {
	text-align: center;
	color: white;
}

#admin-text {
	letter-spacing: 2px;
	font-weight: 700;
	font-size: 2em;
}

#admin-email {
	font-size: 1.25em;
	letter-spacing: 1px;
	font-weight: 300;
}

#admin-menu {
	padding-top: 10%;
}

.nav-pills>li.active>a {
	background-color: #3498db;
	color: white;
}

.nav>li>a {
	color: white;
}

.nav>li>a:hover {
	background-color: #2980b9;
	color: white;
}

#signout-btn {
	color: #ecf0f1;
	position: absolute;
	left: 42%;
	bottom: 15px;
}

h2 {
	font-weight: 700;
	font-size: 2em;
	margin-top: 40px;
	margin-bottom: 20px;
}

#schedule {
	display: none;
}

#announcements .form-group {
	margin-left: 0;
	margin-right: 15px;
}

.card-timestamp {
	width: 12.33333333% !important;
}

.card-content {
	padding: 1.5% 0 1.5% 2%;
	width: 78.66666667% !important;
}

.card-delete {
	padding-top: 1.5%;
}

.card-delete i {
	color: #ecf0f1;
	font-size: 1.5em;
}

/* Mobile */
@media (max-width: 991px) {
	#main {
		overflow: visible;
		left: 0 !important;
	}

	h2 {
		margin-top: 0 !important;
	}

	#announcements {
		padding: 5% 0% 3% 0% !important;
	}

	#announcements .card-timestamp {
		padding: 4% 2% 1% 5% !important;
	}

	#announcements .card-content {
		padding: 3% 0% 4% 4% !important;
		width: 86.66666667% !important;
	}

	#announcements-list .card-content {
		padding: 0% 0% 4% 5% !important;
	}

	#mentor {
		padding: 5% 0% 3% 0% !important;
	}

	#mentor .card-timestamp {
		width: 100% !important;
		padding: 3% 2% 0% 4% !important;
	}

	#mentor .card-content {
		margin-left: 0 !important;
		padding: 0% 3% 3% 4% !important;
	}

	#schedule {
		padding-top: 5%;
	}
}